.calc {

  $this: &;

  &__service-title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 50px;
  }

  &__service-list {
    display: flex;
    margin-bottom: 100px;
  }

  &__service-item {
    input {
      display: none;
      &:checked {
        & + label {
          background-color: $blue-color;
          color: white;

          &::before {
            font-weight: 900;
            color: white;

            left: 50%;
            transform: translateX(-50%);
            top: 10px;
          }
        }
      }
    }
  }

  &__service-label {
    display: flex;
    position: relative;
    width: 180px;
    height: 140px;
    background-color: white;
    justify-content: center;
    align-items: flex-end;
    margin-right: 20px;
    cursor: pointer;

    div {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 20px;
    }

    &::before {
      position: absolute;
      font-weight: 800;
      font-size: 60px;
      color: $bg-gray-color;
      left: -13px;
      top: -20px;
      transition: 0.2s;
    }

    &--dev {
      &::before {
        content: 'DEV';
      }
    }

    &--ctx {
      &:before {
        content: 'CTX';
      }
    }

    &--smm {
      &:before {
        content: 'SMM';
      }
    }

    &--seo {
      &:before {
        content: 'SEO';
      }
    }
  }

  &__fields {
    font-weight: 400;
    font-size: 20px;
  }

  &__fields-item {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #B9B9B9;

    &--active {
      border-color: $blue-color;
    }

    &--valid {
      position: relative;

      &:after {
        position: absolute;
        content: '';
        height: 9px;
        width: 10px;
        right: 25px;
        top: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("./../src/images/icons/check.svg");
      }
    }

    &--files {

      input {
        display: none;
      }

      label {
        cursor: pointer;
        display: flex;
        position: relative;
        align-items: flex-end;
        width: 100%;
        padding: 0 0 20px 8px;

        &:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          border: 1px solid #B9B9B9;
          right: 25px;
          top: -5px;
          background-repeat: no-repeat;
          background-size: 10px 10px;
          background-position: center;
          background-image: url("./../src/images/icons/+.svg");
        }
      }
    }
  }

  &__fields-input {
    border: none;
    //border-bottom: 1px solid #B9B9B9;
    background-color: transparent;
    width: 100%;
    padding: 0 0 20px 8px;
    color: $blue-color;

    &::placeholder {
      color: black;
      opacity: 1;
    }

    &:focus {
      outline: none;
      &::placeholder {
        color: $blue-color;
      }
    }
  }

  &__fields-description {
    textarea {
      //border-bottom: 1px solid #B9B9B9;
      border: none;
      min-height: 23px;
      background-color: transparent;
      width: 100%;
      color: $blue-color;
      display: block;
      padding: 0 0 20px 8px;
      resize: vertical;

      &::placeholder {
        color: black;
        opacity: 1;
      }

      &:focus {
        outline: none;
      }
    }

  }


  &__submit-btn {
    border: none;
    width: 100%;
    height: 70px;
    background-color: $blue-color;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
  }

  &__submit-agree-wrapper {

    input {
      display: none;
      &:checked {
        & + label {
          #{$this}__submit-agree-checkbox {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("./../src/images/icons/check.svg");
          }
        }
      }
    }
  }

  &__submit-agree {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    //align-items: center;
    font-weight: 300;
    font-size: 20px;

  }

  &__submit-agree-checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid #757575;

    //&--checked {
    //  background-repeat: no-repeat;
    //  background-position: center;
    //  background-image: url("./../src/images/icons/check.svg");
    //}
  }

  &__submit-agree-text {
    padding-left: 20px;
    width: 90%;
    a {
      color: $blue-color;
      text-decoration: underline $blue-color;
    }
  }
}