.section {
  padding: 90px 0 0 0;

  &__title {
    h2 {
      position: relative;
      margin-bottom: 50px;
      padding-left: 25px;

      &:before {
        content: '/';
        position: absolute;
        left: 0;
        color: $blue-color;
        font-weight: 900;
      }
    }
  }
}