.footer {
  background-color: $blue-color;
  color: white;
  
  &__wrapper {
    display: flex;
    padding: 70px 0;
    justify-content: space-between;
  }
  
  &__info-container {
    width: 33%;
  }
  
  &__logo {
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./../src/images/icons/logo.svg");
    margin-bottom: 30px;
  }
  
  &__contact-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__contact-list-item {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-left: 30px;
    
    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      left: 0;
      top: 3px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    &--phone {
      margin-right: 50px;
      
      &::before {
        background-image: url("./../src/images/icons/phone.svg");
      }
    }
    
    &--email {
      &::before {
        background-image: url("./../src/images/icons/email.svg");
      }
    }
    
    &--address {
      &::before {
        background-image: url("./../src/images/icons/location.svg");
      }
    }
    
  }
  
  &__sm-list {
    margin: 20px 0 50px;
    display: flex;
    
  }
  
  &__sm-item {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border: 1px solid white;
    //border: 1.5px solid white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    &:last-of-type {
      margin-right: 0;
    }
    
    &--fb {
      background-image: url("./../src/images/icons/facebook.svg");
      background-size: 11px 21px;
    }
    
    &--vk {
      background-image: url("./../src/images/icons/vk.svg");
      background-size: 22px 26px;
      
    }
    
    &--ig {
      background-image: url("./../src/images/icons/insta.svg");
      background-size: 18px 18px;
      
    }
    
    &--be {
      background-image: url("./../src/images/icons/be.svg");
      background-size: 22px 14px;
      
    }
  }
  
  &__copyright {
    font-weight: 400;
    font-size: 14px;
  }
  
  &__menu-container {
    display: flex;
    justify-content: space-between;
    width: 55%;
  }
  
  &__menu-column {
    width: 31%;
  }
  
  &__menu-main-item {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  &__menu-item {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
  }
}