$blue-color: #1B36F8;
$bg-gray-color: #F1F1F1;

body {
  font-family: Gilroy, Arial, serif;
  background-color: $bg-gray-color;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
}

.btn-wrapper {

}

.btn {
  border: none;
  background-color: $blue-color;
  color: white;
  cursor: pointer;
  &--hover {
    background-color: #202f91;
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  align-items: flex-start;

  &--mb90 {
    margin-bottom: 90px;
  }

  &--center {
    align-items: center;
  }
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 5%;

  &--1-3 {
    width: 30%;
  }

  &--2-3 {
    width: 65%;
  }

  &--last {
    margin-right: 0;
    //width: auto;
  }
}